.countdown {
  width: 90vw;
  margin-left: 5vw;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "countdown_title countdown_title countdown_title"
    "number_days number_hours number_minutes"
    "title_days title_hours title_minutes";
}

.align_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@supports (display: grid) {
  @media screen and (max-width: 1000px) {
    .countdown {
      row-gap: 1px;
    }
  }
  @media screen and (min-width: 1000px) {
    .countdown {
      row-gap: 10px;
    }
  }
}

.countdown_title {
  grid-area: countdown_title;
}
.number_days {
  grid-area: number_days;
}
.title_days {
  grid-area: title_days;
}
.number_hours {
  grid-area: number_hours;
}
.title_hours {
  grid-area: title_hours;
}
.number_minutes {
  grid-area: number_minutes;
}
.title_minutes {
  grid-area: title_minutes;
}
