@import url('https://fonts.googleapis.com/css?family=Charm');

@supports (display: grid) {
  @media screen and (max-width: 1000px) {
    .header_text {
      font-family: "Charm", cursive; 
      font-size: 38px; 
      margin: 10px 50px; 
      letter-spacing: 6px; 
      font-weight: bold;
      text-align: center;
    }
  }
  @media screen and (min-width: 1000px) {
    .header_text {
      font-family: "Charm", cursive; 
      font-size: 150px; 
      margin: 10px 50px; 
      letter-spacing: 20px; 
      font-style: normal;
      font-weight: bold;
      text-align: center;
    }
  }
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-direction: column;
}
