@supports (display: grid) {
  @media screen and (max-width: 1000px) {
    /* .response_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, auto);
      grid-template-areas:
        "question_coming question_coming toggle_button"
        "question_number_adults question_number_adults question_number_adults"
        "minus_button_adults number_of_adults plus_button_adults"
        "send_button send_button send_button"
        "warning warning warning";
    } */
    .response_container {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(5, auto);
      grid-template-areas:
        "question_coming . toggle_button ."
        "question_number_adults minus_button_adults number_of_adults plus_button_adults"
        "question_number_kids minus_button_kids number_of_kids plus_button_kids"
        "send_button send_button send_button send_button"
        "warning warning warning warning";
    }

    .response_button_style {
      width: 30vw;
      height: 10vw;
      border-radius: 5vw;
      font-size: 15px;
      background-color: rgba(0, 0, 0, 1);
      border-color: rgba(0, 0, 0, 1);
      color: rgba(255, 255, 255, 1);
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
      user-select: none;
    }

    .response_button_style_disabled {
      width: 30vw;
      height: 10vw;
      border-radius: 5vw;
      font-size: 15px;
      background-color: rgba(141, 141, 141, 1);
      border-color: rgba(0, 0, 0, 1);
      color: rgba(0, 0, 0, 1);
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
      user-select: none;
      pointer-events: none;
    }

    .response_button_style_round {
      width: 15vw;
      height: 15vw;
      border-radius: 7.5vw;
      background-color: rgba(255, 255, 255, 1);
      border-color: rgba(0, 0, 0, 1);
      border-width: 1.5px;
      font-size: 5vw;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
      user-select: none;
    }

    .response_button_style_round_disabled {
      width: 15vw;
      height: 15vw;
      border-radius: 7.5vw;
      background-color: rgba(112, 106, 108, 0.3);
      border-color: rgba(0, 0, 0, 1);
      border-width: 1.5px;
      font-size: 5vw;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
      user-select: none;
    }

    .response_container > div {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 25px;
      user-select: none;
    }

    .response_question_photo {
      height: 10vw;
      user-select: none;
      pointer-events: none;
    }
  }

  .btn_style {
    width: 75px;
    height: 75px;
    touch-action: manipulation;
  }
  @media screen and (min-width: 1000px) {
    .response_container {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(5, auto);
      grid-template-areas:
        "question_coming . toggle_button ."
        "question_number_adults minus_button_adults number_of_adults plus_button_adults"
        "question_number_kids minus_button_kids number_of_kids plus_button_kids"
        "send_button send_button send_button send_button"
        "warning warning warning warning";
    }

    .response_button_style {
      width: 150px;
      height: 50px;
      border-radius: 25px;
      font-size: 25px;
      background-color: rgba(0, 0, 0, 1);
      border-color: rgba(0, 0, 0, 1);
      color: rgba(255, 255, 255, 1);
      outline: none;
      user-select: none;
    }

    .response_button_style_disabled {
      width: 150px;
      height: 50px;
      border-radius: 25px;
      font-size: 25px;
      background-color: rgba(141, 141, 141, 1);
      border-color: rgba(0, 0, 0, 1);
      color: rgba(0, 0, 0, 1);
      outline: none;
      user-select: none;
      pointer-events: none;
    }

    .response_button_style_round {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: rgba(255, 255, 255, 1);
      border-color: rgba(0, 0, 0, 1);
      font-size: 30px;
      outline: none;
      user-select: none;
    }

    .response_button_style_round_disabled {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: rgba(112, 106, 108, 0.3);
      border-color: rgba(0, 0, 0, 1);
      font-size: 30px;
      outline: none;
      user-select: none;
    }

    .response_container > div {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 25px;
      user-select: none;
    }

    .response_question_photo {
      height: 4vw;
      user-select: none;
      pointer-events: none;
    }

    .btn_style {
      width: 75px;
      height: 75px;
      touch-action: manipulation;
    }
  }
}

.response_animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes response_bounce {
  0% {
    -webkit-transform: translateY(0);
  }
  2% {
    -webkit-transform: translateY(-5px);
  }
  4% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes response_bounce {
  0% {
    -webkit-transform: translateY(0);
  }
  2% {
    -webkit-transform: translateY(-5px);
  }
  4% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
.response_bounce {
  -webkit-animation-name: response_bounce;
  animation-name: response_bounce;
}

.question_coming {
  grid-area: question_coming;
}
.toggle_button {
  grid-area: toggle_button;
}
.question_number_adults {
  grid-area: question_number_adults;
}
.question_number_kids {
  grid-area: question_number_kids;
}
.minus_button_adults {
  grid-area: minus_button_adults;
}
.minus_button_kids {
  grid-area: minus_button_kids;
}
.number_of_adults {
  grid-area: number_of_adults;
}
.number_of_kids {
  grid-area: number_of_kids;
}
.plus_button_adults {
  grid-area: plus_button_adults;
}
.plus_button_kids {
  grid-area: plus_button_kids;
}
.send_button {
  grid-area: send_button;
  margin-top: 20px;
}
.warning {
  margin-top: 5px;
  grid-area: warning;
}
.warning_text {
  max-width: 50vw;
  font-size: 15px;
  user-select: none;
}
