@supports (display: grid) {
  @media screen and (max-width: 1000px) {
    .line_spacer_photo {
      width: 100%;
      pointer-events: none;
      user-select: none;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1000px) {
    .line_spacer_photo {
      width: 100%;
      pointer-events: none;
      user-select: none;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.spacer_container {
  width: 90vw;
}
