@supports (display: grid) {
  @media screen and (max-width: 1000px) {
    .photo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
  }
  @media screen and (min-width: 1000px) {
    .photo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 45%;
    }
  }
}
