.button_style {
  width: 150px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(247, 157, 179, 0.3);
  border-color: rgba(247, 157, 179, 0.3);
  font-size: 30px;
}

.button_style_round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(247, 157, 179, 0.3);
  border-color: rgba(247, 157, 179, 0.3);
  font-size: 30px;
  justify-content: right;
  outline: none;
}

.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
  }
  2% {
    -webkit-transform: translateY(-5px);
  }
  4% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
  }
  2% {
    -webkit-transform: translateY(-5px);
  }
  4% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.response_container {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas:
    "question_coming . toggle_button ."
    "question_number minus_button number_of_people plus_button"
    ". send_button send_button .";
}

.response_container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.question_coming {
  grid-area: question_coming;
}
.toggle_button {
  grid-area: toggle_button;
}
.question_number {
  grid-area: question_number;
}
.minus_button {
  grid-area: minus_button;
}
.number_of_people {
  grid-area: number_of_people;
}
.plus_button {
  grid-area: plus_button;
}
.send_button {
  grid-area: send_button;
}
