@supports (display: grid) {
  @media screen and (max-width: 1000px) {
    .text {
      text-align: center;
      font-size: 20px;
      font-family: "American Typewriter", serif;
      -webkit-font-smoothing: antialiased;
      user-select: none;
      width: 90vw;
    }
  }
  @media screen and (min-width: 1000px) {
    .text {
      text-align: center;
      font-size: 40px;
      font-family: "American Typewriter", serif;
      -webkit-font-smoothing: antialiased;
      user-select: none;
    }
  }
}
