:root {
  background: rgb(219, 228, 251);
}

html, body {
  margin: 0;
  padding: 0;
  background: rgb(219, 228, 251);
  height: 100%;
}

.site {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  row-gap: 50px;
  grid-template-areas:
    "spacer1"
    "header"
    "spacer2"
    "welcome_message"
    "spacer3"
    "itinerary"
    "spacer4"
    "couple_about"
    "spacer5"
    "response"
    "spacer6"
    "countdown"
    "spacer7"
    "contact"
    "spacer8";
  margin-top: 30px;
  margin-bottom: 30px;
}

.site > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_photo {
  grid-area: header_photo;
}
.couple_name {
  grid-area: couple_name;
}
.welcome_message {
  grid-area: welcome_message;
}
.couple_about {
  grid-area: couple_about;
}
.itinerary {
  grid-area: itinerary;
}
.countdown {
  grid-area: countdown;
}
.response {
  grid-area: response;
}
.contact {
  grid-area: contact;
}

.spacer1 {
  grid-area: spacer1;
}
.spacer2 {
  grid-area: spacer2;
}
.spacer3 {
  grid-area: spacer3;
}
.spacer4 {
  grid-area: spacer4;
}
.spacer5 {
  grid-area: spacer5;
}
.spacer6 {
  grid-area: spacer6;
}
