  .label_description {
    grid-area: label_description;
  }
  .description {
    grid-area: description;
  }
  .label_number_of_adults {
    grid-area: label_number_of_adults;
  }
  .number_of_adults {
    grid-area: number_of_adults;
  }
  .label_number_of_kids {
    grid-area: label_number_of_kids;
  }
  .number_of_kids {
    grid-area: number_of_kids;
  }
  .label_addressing {
    grid-area: label_addressing;
  }
  .addressing {
    grid-area: addressing;
  }
  .addressing_name {
    grid-area: addressing_name;
  }

  .align_left {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .align_right {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .align_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .addressing_modif {
    width: 100px;
  }
  .input_field {
    width: 300px;
    height: 50px;
  }
  .input_number {
    width: 50px;
    height: 50px;
  }
  
  .add_guest_container > div {
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: double;
    height: 50px;
  }